.japan {
  position: relative;
}
.japan__app {
  overflow: hidden;
}
.japan__content-wrap {
  overflow: scroll;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding-bottom: 45px; /* ios hack */
  position: relative;
}
.japan__hide {
  display: none;
}
