.japan {
  position: relative;
}
.japan__app {
  overflow: hidden;
}
.japan__content-wrap {
  overflow: scroll;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding-bottom: 45px; /* ios hack */
  position: relative;
}
.japan__error {
  margin: 60px 26px 0 26px;
  background: red;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  animation: fadeOutMessage 300ms 10s 1 forwards;
  box-sizing: 0 2px 20px -4px rgba(2,2,2,0.3);
  z-index: 100;
  top: 50%;
  transform: translateY(-100%);
}
.japan__error h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.japan__hide {
  display: none;
}

@keyframes fadeOutMessage {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
