* {
  box-sizing: border-box;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  background: #111;
}
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  min-height: 100%;
  background: linear-gradient(135deg, #1d6f28 0%,#4334bb 100%);
  background: linear-gradient(135deg, #41295a 0%,#2F0743 100%);

}
