.japan__itinerary-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1rem;
  animation: fadeIn 300ms 140ms 1 forwards;
  opacity: 0;
}
.japan__itinerary-list-item {
  padding: 18px 0;
  position: relative;
  cursor: pointer;
  display: flex;
}
.japan__itinerary-list-item-date {
  font-size: 11px;
  color: rgba(255,255,255,0.6);
  position: absolute;
  top: 40px;
  left: 0px;
}
.japan__itinerary-list-item-day {
  width: 90px;
  display: block;
  font-weight: bold;
}
.japan__itinerary-list-item-name {
  width: 100%;
  display: block;
}
.japan__itinerary-list-item-icon {
  height: 1em;
  margin: 0 0 0 6px;
  display: inline-block;
  position: relative;
  top: 5px;
}

/* Event screen */
.japan__itinerary-event {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #222;
  color: #fff;
  display: none;
}
.japan__itinerary-event--open {
  animation: fadeIn 200ms 1 forwards;
  display: block;
}
.japan__itinerary-event--close {
  height: 100%;
  width: 100%;
  animation: fadeDown 200ms 1 forwards;
  display: block;
}
.japan__itinerary-event-exit {
  position: absolute;
  top: 0px;
  right: 12px;
  color: #fff;
  font-size: 36px;
  z-index: 10;
}
.japan__itinerary-event-hero {
  height: 140px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.japan__itinerary-event-hero h2 {
  z-index: 1;
  position: relative;
  margin: 0 14px;
  text-align: center;
}
.japan__itinerary-event-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 11px;
  z-index: 1;
  padding: 0 16px 10px;
  font-weight: bold;
}
.japan__itinerary-event-footer-opts {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.japan__itinerary-event-footer-opts li {
  display: inline-block;
  display: flex;
  align-items: flex-end;
}
.japan__itinerary-event-footer-opts-icon {
  height: 22px;
  position: relative;
  margin: 0 2px 0 0;
}
.japan__itinerary-event-footer-opts-icon--location {
  top: 1px;
  height: 16px;
}
.japan__itinerary-event-footer-opts-icon--time {
  top: 5px;
}
.japan__itinerary-event-hero::after {
  background: linear-gradient(135deg, #800284 1%,#ba2ea0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  z-index: 0;
  opacity: 0.5;
}
.japan__itinerary-event-list {
  width: 100%;
  padding: 16px;
  animation: slideUp 400ms 100ms 1 forwards;
  opacity: 0.2;
  transform: translateY(100%);
  overflow: hidden;
}



@keyframes slideUp {
  0% {
    opacity: 0.2;
    transform: translateY(20%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}
